@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
/* Move down content because we have a fixed navbar that is 3.5rem tall */
@font-face {
  font-family: minecrafter;
  src: url('../font/Minecrafter.Reg.ttf');
}
@font-face {
  font-family: mine;
  src: url('../font/minecraft_font.ttf');
}
body {
  padding-top: 3.5rem;
  //*background-color: #0096c7;*/
  background-image: url('../img/bonito.jpg');
}
.minecraft {
  font-family: minecrafter !important;
  color:aquamarine;
}
.jumbotron {
  background-image: url('../img/bonito.jpg');
  /*background-image: url('../img/textura.jpg');*/
}
.minecraftp {
  font-family: mine !important;
  color: white;
}
main {
  font-family: 'Play', sans-serif !important;
}

main {
  /*background-image: url('../img/bonito.jpg');*/
  background-color:#0598b6;
  
}